@import "./base.css";

/* 样式居中 */
.center {
    width: 1140px;
    margin: 0 auto;
}
/* 字体样式 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    zoom: 1;
}

/* 左浮动 */
.left {
    float: left;
}

/* 右浮动 */
.right {
    float: right;
}

/* 顶部导航条 */
#header {
    width: 1440px;
    height: 100px;
    background-color: #ffffff;
}
.nav .nav-left {
    margin-top: 25px;
    width: 105px;
    height: 40px;
    background-color: #f92525;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.nav .nav-left span {
    display: inline-block;
    color: #ffffff;
    border-radius: 2px;
}
.nav .nav-right {
    margin-top: 20px;
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background-color: aqua; */
}
.nav .nav-right a {
    margin-right: 20px;
}
.nav .nav-right a:first-child {
    margin-left: 70px;
}
.nav .nav-right .log-out {
    display: inline-block;
    font-size: 12px;
    width: 150px;
    height: 50px;
    background-color: #f92525;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

/* 内容区 */
/* topTitle 切换层 */
#content {
    width: 1440px;
    height: 1276px;
    background-color: #f5f8f9;
}
.topTitle .topTitle-left {
    margin-top: 70px;
    width: 273px;
    height: 51px;
    /* background-color: blue; */
}
.topTitle .topTitle-left h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: "宋体";

}
.topTitle .topTitle-left h5 {
    font-size: 14px;
    font-weight: normal;
    color: #262b2e;
	opacity: 0.7;
}
.topTitle .topTitle-right .topTitle-right-item {
    margin-top: 99px;
    position: relative;
    width: 469px;
    height: 14px;
    /* background-color: #f92525; */
}
.topTitle .topTitle-right .topTitle-right-item ul li {
    float: left;
    margin-left: 45px;
    font-size: 12px;
    cursor: pointer;
}
.topTitle .topTitle-right .topTitle-right-item ul li.one {
    margin-left: 0px;
}
.topTitle .topTitle-right .topTitle-right-item .line {
    position: absolute;
    width: 60px;
	height: 2px;
	background-color: #262b2e;
    opacity: 0.2;
    top: 16px;
    left: 0px;
}
/* layer-1 图层1 */
.layer-1 {
    margin-top: 49px;
    height: 288px;
}
.layer-1 .layer-1-carousel {
    box-sizing: border-box;
    width: 560px;
    height: 288px;
    background-color: #ffffff;
    padding: 10px 11px 11px 10px;
    position: relative;
}
.layer-1 .layer-1-carousel .imgFather {
    width: 539px;
    height: 267px;
    position: relative;
    overflow: hidden;
}
.layer-1 .layer-1-carousel .imgFather .img {
    width: 2750px;
    position: absolute;
}
.layer-1 .layer-1-carousel .imgFather .img img {
    width: 539px;
    height: 267px;
    float: left;
    padding-right: 11px;
}
.layer-1 .layer-1-carousel span {
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: rgb(88, 80, 80);
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    /* display: none; */
}
.layer-1 .layer-1-carousel span:hover {
    background-color: rgba(0, 0, 0, .5);
}
.layer-1 .layer-1-carousel span.imgLeft {
    top: 45%;
    left: 10px;
    font-size: 20px;
}
.layer-1 .layer-1-carousel span.imgRight {
    top: 45%;
    right: 11px;
}
.layer-1 .layer-1-carousel .icon {
    width: 100%;
    height: 40px;
    /* background-color: saddlebrown; */
    /* display: none; */
}
.layer-1 .layer-1-carousel .link {
    position: absolute;
    width: 100px;
    height: 20px;
    /* background-color: bisque; */
    bottom: 20px;
    left: 42%;
}
.layer-1 .layer-1-carousel .link ul li {
    width: 10px;
    height: 10px;
    background-color:rgba(199, 187, 187, 0.6);
    display: inline-block;  
    margin-right: 5px;
    cursor: pointer;
}
.layer-1 .layer-1-carousel .link ul li.link-first {
    width: 10px;
    height: 15px;
    background-color: #e91397;
}
.layer-1 .layer-1-slide {
    box-sizing: border-box;
    width: 560px;
    height: 288px;
    background-color: #ffffff;
}

.layer-1 .layer-1-slide .view-top {
    width: 460px;
    margin: 0 auto;
}
.layer-1 .layer-1-slide .view-top span {
    margin-top: 49px;
    font-size: 18px;
    font-family: OpenSans;
    color: #262b2e;
}
.layer-1 .layer-1-slide .view-top span.view-all {
    display: inline-block;
    width: 95px;
    height: 40px;
    /* background-color: aqua; */
    margin-top: 40px;
    font-size: 14px;
    font-family: OpenSans;
	color: #262b2e;
	opacity: 0.7;
    border-radius: 2px;
    border: solid 2px #dee0e2;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.layer-1 .layer-1-slide .view-top span.view-all:hover {
	color: #21c7dd;
}
.layer-1 .layer-1-slide .dividing {
    margin-top: 30px;
    display: block;
    width: 560px;
    height: 1px;
    background-color: #202124;
	opacity: 0.07;
}

.layer-1 .layer-1-slide .view-bottom {
    width: 460px;
    margin: 0 auto;
}
.layer-1 .layer-1-slide .view-bottom .time {
    width: 100px;
    height: 172px;
    /* background-color: #f92525; */
    font-size: 13px;
    color: #262b2e;
}
.layer-1 .layer-1-slide .view-bottom .user span,
.layer-1 .layer-1-slide .view-bottom .status span,
.layer-1 .layer-1-slide .view-bottom .time span {
    display: block;
    margin-bottom: 30px;
}
.layer-1 .layer-1-slide .view-bottom .user span.bold,
.layer-1 .layer-1-slide .view-bottom .status span.bold,
.layer-1 .layer-1-slide .view-bottom .time span.bold {
    margin-top: 29px;
    font-size: 14px;
    font-weight: bold;
}
.layer-1 .layer-1-slide .view-bottom .user {
    width: 200px;
    height: 172px;;
    /* background-color: #f92525; */
}
.layer-1 .layer-1-slide .view-bottom .status {
    width: 100px;
    height: 172px;;
    /* background-color: #f92525; */
}
.layer-1 .layer-1-slide .view-bottom .status span {
    float: right;
}
.layer-1 .layer-1-slide .view-bottom .status span.btn {
    width: 65px;
	height: 30px;
	background-color: #5dd054;
    border-radius: 2px;
    margin-bottom: 0;
    margin-top: -10px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}
.layer-1 .layer-1-slide .view-bottom .status span.btn:last-child {
    margin-top: 10px;
}
/* layer-2 图层2 */
.layer-2 {
    margin-top: 19px;
    height: 349px;
    background-color: #fff;
}
.layer-2 .graph {
    height: 349px;
    position: relative;
}
.layer-2 .graph span {
    position: absolute;
    width: 145px;
	height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #262b2e;
    top: 30px;
    left: 501px;
}
.layer-2 .graph .graph-data {
    width: 1065px;
    height: 250px;
    position: absolute;
    background-color: saddlebrown;
    bottom: 12px;
    left: 36px;
}
/* layer-3 图层3 */
.layer-3 .layer-3-histogram {
    width: 560px;
    height: 377px;
    background-color: #fff;
    margin-top: 20px;
}
.layer-3 .layer-3-histogram .histogram {
    height: 377px;
    position: relative;
}
.layer-3 .layer-3-histogram .histogram span {
    position: absolute;
    width: 145px;
	height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #262b2e;
    top: 47px;
    left: 209px;
}
.layer-3 .layer-3-histogram .histogram .chart-data {
    width: 323px;
    height: 271px;
    position: absolute;
    background-color: saddlebrown;
    bottom: 20px;
    left: 124px;
}
.layer-3 .layer-3-histogram .histogram .histogram-data {
    width: 497px;
    height: 255px;
    position: absolute;
    background-color: saddlebrown;
    bottom: 20px;
    left: 32px;
}

/* 底部介绍栏 */
#footer {
    width: 1440px;
    height: 253px;
    background-color: #202124;
}
.footer .footer-center {
    width: 1140px;
    height: 175px;
    /* background-color: red; */
    margin: 0 auto;
}
.footer .footer-center span {
    display: block;
    width: 105px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    margin-top: 80px;
    margin-right: 77px;
    color: #ffffff;
    border-radius: 2px;
    background-color: #f92525;
    cursor: pointer;
}
.footer .footer-center div {
    margin-top: 80px;
    float: left;
}
.footer .footer-center div ul {
    width: 72px;
    height: 94px;
    margin-right: 119px;
}
.footer .footer-center div ul li {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}
/* 尾巴 */
#bottom {
    width: 1440px;
    height: 37px;
    background-color: #1c1d20;
}